extends layout

block content
  - var messages = getMessages()
  if messages.error
    div.alert.alert-danger
      each msg in messages.error
        .error= msg
  div.my-3
    form(method="post", action=`/menu/${dish.dishId}?editImg=1` enctype="multipart/form-data")
      div.form-group.custom-file
        input(type="file" name="dishFile" data-Browse="選択").custom-file-input
        label.custom-file-label 画像の選択
      div.my-3
        button(type="submit").btn.btn-info 画像を変更する