extends layout

block content
  h3 料理の編集
  form(method="post", action=`/menu/${dish.dishId}?edit=1`)
    div
      h5 料理名
      input(type="text" name="dishName")
    div
      h5 参考URL
      input(type="url" name="dishUrl")
    div
      button(type="submit") 以上の内容で編集する
  div
    a(href=`/menu/${dish.dishId}/edit/img`) 画像を変える