extends layout

block content
  div.card.my-3.bg-light
    div.card-header LOGIN
    div.card-body
      form(action="/auth/local", method="post")
        div.form-group
          label(for="username").fas.fa-user
          input(type="text", name="username", placeholder="username").form-control
        div.form-group
          label(for="password").fas.fa-unlock
          input(type="text", name="password", placeholder="password").form-control
    button(type="submit").btn.btn-default.my-3 ログイン
  div 
    a(href="/auth/github").btn.btn-dark.my-3.fab.fa-github Githubでログイン
  div
    a(href="/auth/twitter").btn.btn-info.my-3.fab.fa-twitter Twitterでログイン
  form(action="/auth/local", method="post")
    div
      input(name="username", value="guest", type="hidden")
    div
      input(name="password", value="guestpassword", type="hidden")
    button(type="submit").btn.btn-primary.my-3 ゲストユーザーでログイン
  if user
   p #{user.username} でログイン中