extends layout

block content
  - var messages = getMessages()
  if messages.error
      div.alert.alert-danger.my-3
        each msg in messages.error
          .error= msg
  div.container-fluid
    div.row
      div.card.my-5.bg-light.col-xs-12.col-md-5.mx-auto
        div.card-body
          form(action="/auth/local", method="post")
            div.form-group.my-3
              label(for="username").fas.fa-user
              input(type="text", name="username", placeholder="username").form-control
            div.form-group.my-3
              label(for="password").fas.fa-unlock
              input(type="text", name="password", placeholder="password").form-control
            div.text-center
              button(type="submit").btn.btn-default.mt-5.mb-3.btn-block ログイン
        div.card-footer
          div 
            a(href="/auth/github").btn.btn-dark.my-3.fab.fa-github.btn-block Githubでログイン
          div
            a(href="/auth/twitter").btn.btn-info.my-3.fab.fa-twitter.btn-block Twitterでログイン
          form(action="/auth/local", method="post")
            div
              input(name="username", value="guest", type="hidden")
            div
              input(name="password", value="guestpassword", type="hidden")
            button(type="submit").btn.btn-primary.my-3.btn-block ゲストユーザーでログイン
          if user
           p #{user.username} でログイン中