extends layout

block content
  div.my-3
  each recipe in recipes
    div.list-group.list-group-flush
      div.list-group-item.list-group-item-action.text-truncate
        img(src=`${recipe.mediumImageUrl}`, alt="画像").p-3
        a(href=`/rakuten/${categoryId}/${recipe.recipeId}`).list-group-item-action.h5.p-3 #{recipe.recipeTitle}