extends layout

block content
  - var messages = getMessages()
  if messages.error
      div.alert.alert-danger
        each msg in messages.error
          .error= msg
  div.form-group
  form(action="/register", method="post")
    div.form-group
      label(for="username") ユーザー名
      input(type="text", name="username").form-control
    div.form-group
      label(for="password") パスワード
      input(type="text", name="password").form-control
    button(type="submit").btn.btn-info 登録