extends layout

block content
  - var messages = getMessages()
  if messages.error
      div.alert.alert-danger
        each msg in messages.error
          .error= msg
  h4 ジャンルを選択してください
  a(href="/selectGenre/japan")
    img(src="images/upload/japan.jpg", alt="画像",).img-fluid
  a(href="/selectGenre/western")
    img(src="images/upload/western.jpg", alt="画像",).img-fluid
  a(href="/selectGenre/china")
    img(src="images/upload/china.jpg", alt="画像",).img-fluid